<?xml version="1.0" encoding="utf-8"?>
<rows>
  <row>
    <tab>GetBaoCaoBanHangChiTietTheoNgay</tab>
    <path>~/UserControl/Invoice/BaoCaoBanHangChiTietTheoNgay.ascx</path>
  </row>
  <row>
    <tab>BaoCaoChiTietSanPham</tab>
    <path>~/UserControl/Invoice/BaoCaoBanSanPham.ascx</path>
  </row>
</rows>