<?xml version="1.0" encoding="utf-8"?>
<rows>
  <row>
    <tab>login</tab>
    <path>~/UserControl/Login/Login.ascx</path>
    <mode>-1</mode>
  </row>
  <row>
    <tab>changepassword</tab>
    <path>~/UserControl/Login/ChangePassword.ascx</path>
    <mode>-1</mode>
  </row>
 
  <row>
    <tab>listaccount</tab>
    <path>~/UserControl/Account/List.ascx</path>
    <mode>-1</mode>
  </row>
  <row>
    <tab>listkhachhang</tab>
    <path>~/UserControl/KhachHang/KhachHangList.ascx</path>
    <mode>-1</mode>
  </row>
  <row>
    <tab>listdonhang</tab>
    <path>~/UserControl/DonHang/List.ascx</path>
    <mode>-1</mode>
  </row>
  <row>
    <tab>listalldonhang</tab>
    <path>~/UserControl/DonHang/ListAllDonHang.ascx</path>
    <mode>-1</mode>
  </row>
</rows>